http://talhas-laboratory.tailefe062.ts.net {
  encode zstd gzip

  handle /api/sandbox/* {
    reverse_proxy frontend:3000
  }

  handle_path /api/* {
    reverse_proxy mcp:7801 {
      header_up Authorization "Bearer {$LLC_MCP_TOKEN}"
    }
  }

  handle /storage/* {
    reverse_proxy minio:9000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
